@model ASP.NETCoreIdentityCustom.Models.Lenda2

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Lenda2</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LendaId" />
            <div class="form-group">
                <label asp-for="EmriLendes" class="control-label"></label>
                <input asp-for="EmriLendes" class="form-control" />
                <span asp-validation-for="EmriLendes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LlojiLendes" class="control-label"></label>
                <select asp-for="SelectedLlojiLendes" asp-items="@(new SelectList(Model.LlojiLendes))"></select>
                <span asp-validation-for="SelectedLlojiLendes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
